@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
  
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #030213;
  --color-secondary: #03373D;
}


